.__banner-holidays-btn {
    box-shadow: 0 2px 24px rgba(0, 0, 0, .32);
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: calc(45px + 50px);
    color: #4F4F4F;
    display: flex;
    z-index: 4;
    align-items: center;
    border-radius: 3px;
    background: #fff;
}

.__banner-holidays-btn span {
    display: flex;
}

.__banner-holidays-btn .__banner-holidays-btn__arrow {
    width: 40px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e6e6e6;
    height: 100%;
    cursor: pointer;
    transition: transform .4s cubic-bezier(0.30, 2.40, 0.85, 2.50);
}

.__banner-holidays-btn .__banner-holidays-btn__arrow._rotate {
    transform: rotateY(180deg);
    transition: transform .4s ease;
    border: 0;
}

.__banner-holidays-btn .__banner-holidays-btn__text {
    padding-left: 15px;
    padding-right: 30px;
    transition: max-width .4s ease, padding-left .4s cubic-bezier(0.30, 2.40, 0.85, 2.50), opacity .4s ease;
    white-space: nowrap;
    cursor: pointer;
}

.__banner-holidays-btn .__banner-holidays-btn__text._hide {
    padding-right: 15px;
    padding-left: 0;
    max-width: 0;
    overflow: hidden;
    transition: max-width .4 ease, opacity .4s ease;
    opacity: 0;
}

.__banner-holidays-btn .__banner-holidays-btn__img {
    position: absolute;
    right: -45px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: rgb(26, 159, 41);
    cursor: pointer;
}

.__banner-holidays-btn .__banner-holidays-btn__img svg {
    width: 74px;
    height: 74px;
    position: absolute;
    top: -14px;
    left: -8px;
    transform: rotate(18deg);
    transition: transform .4s ease;
}

.__banner-holidays-btn .__banner-holidays-btn__img svg:hover {
    transform: rotate(-18deg);
    transition: transform .4s ease;
}

.__banner-holidays-modal {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1001;
    background: #4F4F4F80;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: opacity .4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.__banner-holidays-modal._hide {
    opacity: 0;
    transition: opacity .4s ease;
}

.__banner-holidays-modal._z-index-show {
    z-index: 1001;
}

.__banner-holidays-modal__wrapper {
    background: #fff;
    border-radius: 4px;
    max-width: 600px;
    padding: 50px 60px 40px 40px;
    color: #4F4F4F;
    z-index: 1005;
    position: relative;
}

.__banner-holidays-modal__wrapper .__banner-holidays-modal__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 120%;
    color: #4F4F4F;
}


.__banner-holidays-modal__wrapper .__banner-holidays-modal__item p {
    font-size: 18px;
    font-weight: 400;
    color: #4F4F4F;
    line-height: 150%;
}

.__banner-holidays-modal__wrapper .__banner-holidays-modal__close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 21px;
    top: 17px;
    cursor: pointer;
    opacity: 0.8;
}

.__banner-holidays-modal__wrapper .__banner-holidays-modal__close span:first-child {
    width: 30px;
    height: 5px;
    display: flex;
    background: #4F4F4F;
    transform: rotate(45deg);
    translate: 0 calc(15px);
    border-radius: 4px;
}

.__banner-holidays-modal__wrapper .__banner-holidays-modal__close span:last-child {
    width: 30px;
    height: 5px;
    display: flex;
    background: #4F4F4F;
    transform: rotate(-45deg);
    transform-origin: center;
    translate: 0 calc(15px - 5px);
    border-radius: 4px;
}

@media (max-width: 700px) {

    .__banner-holidays-btn .__banner-holidays-btn__text {
        display: none;
    }

    .__banner-holidays-btn .__banner-holidays-btn__arrow {
        display: none;
    }

    .__banner-holidays-btn .__banner-holidays-btn__img {
        width: 40px;
        height: 40px;
    }

    .__banner-holidays-modal__wrapper {
        background: #fff;
        border-radius: 4px;
        max-width: 600px;
        padding: 50px 60px 40px 40px;
        color: #4F4F4F;
        z-index: 1005;
        position: relative;
        margin: 0 auto;
        max-width: 95vw;
    }

    .__banner-holidays-btn .__banner-holidays-btn__img svg {
        width: 57px;
        height: 48px;
        top: -7px;
        left: -8px;
    }

    .__banner-holidays-modal__wrapper .__banner-holidays-modal__title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .__banner-holidays-modal__wrapper .__banner-holidays-modal__item p {
        font-size: 14px;
    }
}